:root {
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */

  background: var(--slate-300);
}



.content-card {
      background: var(--white);
      width: 320px;
      display: flex;
      flex-direction: column; 
      gap: 24px;
      padding: 16px 16px 40px 16px;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);

}

.media-card{
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

.text-content.header{
    color: var(--slate-900);
}

.text-content .subhead {
  color: var(--slate-500);
}

