:root {
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;
  --font-family-base: 'Outfit', sans-serif;

  --text-header-size: 22px;
  --text-header-line: 1.2;
  --text-header-weight: 700;

  --text-subhead-size: 15px;
  --text-subhead-line: 1.4;
  --text-subhead-weight: 400;
  --text-subhead-letter: 0.2px;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */

  background: var(--slate-300);
}



.content-card {
      background: var(--white);
      width: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column; 
      gap: 24px;
      padding: 16px 16px 40px 16px;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);

}

.media-card{
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

.text-content {
  text-align: center;
}

.text-content.header{
  font-family: var(--font-family-base);
  font-size: var(--text-header-size);
  font-weight: var(--text-header-weight);
  line-height: var(--text-header-line);
  letter-spacing: 0;
  color: var(--slate-900);
}

.text-content .subhead {
  font-family: var(--font-family-base);
  font-size: var(--text-subhead-size);
  font-weight: var(--text-subhead-weight);
  line-height: var(--text-subhead-line);
  letter-spacing: var(--text-subhead-letter);
  color: var(--slate-500);
}

